<section class="campaign-record-content record-edit">
{{> campaign-record.media-images}}
{{formGroup systemFields.slideshowInterval value=system.slideshowInterval localize=true}}
{{> campaign-record.common-edit}}
</section>
