<section class="campaign-record-content record-edit">
<div class="form-fields-grid">
  {{formGroup systemFields.shopType value=system.shopType localize=true}}
  {{formGroup systemFields.location value=system.location localize=true}}
  {{formGroup systemFields.owner value=system.owner localize=true}}
</div>
{{> campaign-record.shop-inventory}}
{{> campaign-record.common-edit}}
</section>
