<section class="campaign-record-content record-view{{#if inlineEdit}} inline-edit{{/if}}">
{{#if inlineEdit}}
{{> campaign-record.checklist-items}}
{{else}}
<section class="checklist-items">
  <ol data-rows="items">
    {{#each items}}
    <li data-row-id="{{this.id}}">
      <input type="checkbox" data-action="toggleItem" {{#if this.done}}checked{{/if}}>
      <span class="{{#if this.done}}done{{/if}}">{{this.text}}</span>
      {{#if this.assigneeName}}<span class="assignee">{{this.assigneeName}}</span>{{/if}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
{{> campaign-record.common-view}}
</section>
